.Tooltip {
  padding: 10px 10px 1.25em 10px !important;
  box-shadow: black 0px 0px 5px 0px;
  font-family: sans;
  border-radius: 5px;
  max-width: 300px;
}

.question {
  font-size: 18px;
}

.Button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 1px solid #babfc3;
  padding: 7px 16px;
  min-height: 36px;
  min-width: 36px;
  color: #202223;
  background: #ffffff;
  border-radius: 4px;
  font-weight: 900;
  font-size: 16px;
  font-family: Times New Roman;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
}

.Button:hover {
  background: #f6f6f7;
  outline: 1px solid transparent;
}

.Scale {
  text-align: center;
  margin: 5rem 2.5rem 5rem 2.5rem;
  gap: 2.5rem;
}

.Scale > div {
  margin: 0 !important;
}
