.Tooltip {
  padding: 10px 10px 1.25em 10px !important;
  box-shadow: black 0px 0px 5px 0px;
  font-family: sans;
  border-radius: 5px;
  max-width: 300px;
}

.Scale {
  text-align: center;
  margin: 2.5rem 0;
}
